<!doctype html>
<html>
   <head>
    <title>StackUnderFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
   <body>
	   	<p>Hello {{username}},</p>
      <table border = 1>
         {% for key, value in similar_words.items() %}

            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>

         {% endfor %}
      </table>

      <table border = 1>
         {% for row in results %}
            <tr>
               <th> {{ " ".join(row.tags.split("|")) }} </th>
               <td> {{ row.score }} </td>
               <td> {{ row.title }} </td>
               <td><a href="https://stackoverflow.com/questions/{{row.id}}" target="_blank">See question</a></td>
            </tr>
         {% endfor %}
      </table>
      <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
