<!DOCTYPE html>
<html>
  <head>
    <title>StackUnderFlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<div class="row">
  		  <div class="span4">hi</div>
 				<div class="span8">
 					<form action = "http://localhost:5000/result" method = "POST">
		        <p>Word <input type = "text" name = "word" /></p>
		        <button type="submit" class="btn btn-primary">Submit</button>
		      </form>
 				</div>
 				<a href="https://stackoverflow.com/oauth?client_id=12430&scope=no_expiry&redirect_uri=http://localhost:5000&scope=no_expiry" class=" btn-primary">Stackoverflow Login</a>
 				
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>